@using System.Web.Optimization

@model Ferrara.Sites.Keebler.CategoriesListingPage.CategoriesListingPageViewModel

<div class="sweet-treats-page">
    <h1 class="sweet-treats-title">Sweet Treats</h1>

    @*upper main level scroll*@
    <div id="root">
        <ul class="nav nav-tabs scroll-container" id="myTab" role="tablist">

            @*top level scroll - selected item*@
            <div class="left-arrow" id="firstCategory-leftArrow" onclick="$('#thirdCategory-tab').trigger('click')">
                <span class="carousel-control-prev-icon"></span>
            </div>
            <li class="nav-item">
                <a class="nav-link active" id="firstCategory-tab" data-toggle="tab" href="#firstCategory" role="tab" aria-controls="firstCategory" aria-selected="true">
                </a>
            </li>
            <div class="right-arrow" id="firstCategory-rightArrow" onclick="$('#secondCategory-tab').trigger('click')">
                <span class="carousel-control-next-icon"></span>
            </div>


            <div class="left-arrow" id="secondCategory-leftArrow" style="display:none;" onclick="$('#firstCategory-tab').trigger('click')">
                <span class="carousel-control-prev-icon"></span>
            </div>
            <li class="nav-item">
                <a class="nav-link" id="secondCategory-tab" data-toggle="tab" href="#secondCategory" role="tab" aria-controls="secondCategory" aria-selected="false">
                </a>
            </li>
            <div class="right-arrow" id="secondCategory-rightArrow" style="display:none;" onclick="$('#thirdCategory-tab').trigger('click')">
                <span class="carousel-control-next-icon"></span>
            </div>


            <div class="left-arrow" id="thirdCategory-leftArrow" style="display:none;" onclick="$('#secondCategory-tab').trigger('click')">
                <span class="carousel-control-prev-icon"></span>
            </div>
            <li class="nav-item">
                <a class="nav-link" id="thirdCategory-tab" data-toggle="tab" href="#thirdCategory" role="tab" aria-controls="secondCategory" aria-selected="false">
                </a>
            </li>
            <div class="right-arrow" id="thirdCategory-rightArrow" style="display:none;" onclick="$('#forthCategory-tab').trigger('click')">
                <span class="carousel-control-next-icon"></span>
            </div>


            <div class="left-arrow" id="forthCategory-leftArrow" style="display:none;" onclick="$('#thirdCategory-tab').trigger('click')">
                <span class="carousel-control-prev-icon"></span>
            </div>
            <li class="nav-item">
                <a class="nav-link" id="forthCategory-tab" data-toggle="tab" href="#forthCategory" role="tab" aria-controls="thirdCategory" aria-selected="false">
                </a>
            </li>
            <div class="right-arrow" id="forthCategory-rightArrow" style="display:none;" onclick="$('#firstCategory-tab').trigger('click')">
                <span class="carousel-control-next-icon"></span>
            </div>

        </ul>
    </div>

    @*lower treat scroll*@
    @*<div class="modal fade" id="nutritionModal" tabindex="-1" role="dialog" aria-labelledby="nutritionModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="nutritionModalImage" alt="Nutrition Information" />
                    </div>
                </div>
            </div>
        </div>*@

    @*Where to Buy Modal*@
    @*<div class="modal fade" id="buyNowModal" tabindex="-1" role="dialog" aria-labelledby="buyNowModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="destinidiv" src=""></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>*@

</div>

<div id="product-root" class="container"></div>
<div id="treat-root" class="container"></div>
<div id="sweet-root" class="container"></div>


@Scripts.Render("~/bundles/js/SweetTreatsSPA")
@Scripts.Render("~/bundles/js/SweetTreatsProductsAPI")
@Scripts.Render("~/bundles/js/KeeblerGlobalTs")

<script type="text/javascript">
    $(function () {
            console.log("catList");
            console.log(@Model.CurrentPage.ContentLink.ID);
            $.get( "/CategoriesListingPage/" + @Model.CurrentPage.ContentLink.ID, function( data ) {
                // original way
                //console.log("calling productTypesFunc here");
                // list the sweet treat cards
                productTypesFunc(data);
                // don't think this is needed here now
                // firstProductsFuncCall();
            });

        });
        //function destiniFunction(containerId, associationId) {
        //    destini.init(containerId);
        //    destini.loadWidget(associationId);
        //}
</script>

